</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .form-group {
            width: 50%;
            margin: 0 auto;
        }
        
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container" style="padding: 0px 30px; margin-top: 20px">
        <div class="title" style="background-color: #cecece; padding: 10px 30px">
            <h1>Thêm dữ liệu</h1>
            <a href="">xem</a>
            <hr />
        </div>
        <br>
        <form action="/api/v1/product/create-product" method="POST">
            <div class="form-group">
                <label for="name">Enter your name:</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="price">Enter your price:</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
            <div class="form-group">
                <label for="oldPrice">Enter your oldPrice:</label>
                <input type="text" class="form-control" id="oldPrice" name="oldPrice">
            </div>
            <div class="form-group">
                <label for="thumbnail">Enter your thumbnail:</label>
                <input type="text" class="form-control" id="thumbnail" name="thumbnail">
            </div>
            <div class="form-group">
                <label for="description">Enter your description:</label>
                <input type="text" class="form-control" id="description" name="description">
            </div>
            <div class="form-group">
                <label for="stock">Enter your stock:</label>
                <input type="text" class="form-control" id="stock" name="stock">
            </div>
            <div class="form-group">
                <label for="category">Enter your category:</label>
                <input type="text" class="form-control" id="category" name="category">
            </div>
            <div class="form-group">
                <label for="brand">Enter your brand:</label>
                <input type="text" class="form-control" id="brand" name="brand">
            </div>
            <div class="form-group">
                <label for="created_by">Enter your created_by:</label>
                <input type="text" class="form-control" id="created_by" name="created_by">
            </div>
            <div class="form-group">
                <label for="update_by">Enter your update_by:</label>
                <input type="text" class="form-control" id="update_by" name="update_by">

                <button type="submit" class="btn btn-default">Submit</button>
        </form>
</body>

</html>
</form>

</body>

</html>